 .filter-card{
    font-family: league Spartan, sans-serif;
    display: flex;
    margin: 0 5rem;
    justify-content: space-between;
    gap: 5rem;
    background-color: #fff;
    padding: 1.25rem 2.5rem;
    border-radius: 5px;
    transform: translateY(3rem);
    align-items: center;
     
} 


.filter-items {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    
}


.data-text{
    color: #5CA5A5;
    font-size: 10px;
    font-weight: bold;
    padding: 0 0.5rem;
}
.template{
    background-color: #EFFAFA;
    display: flex;
    align-items: center;
    border-radius:  5px;
    
    }

.close-icon {
    width: 0.6rem;
}

.image-btn {
    border: none;
    background-color: #5CA5A5;
    cursor: pointer;
    border-radius: 0 3px  3px 0; 
}

.image-btn:hover{
    background-color: black;
} 


